.profile-image-container{
    width: 100px;
    box-sizing: border-box;
}
.profile-image{
    width: 100%;
}
.Btton-calse{
    width: 100px;
    height: 20px;
    background-color: aliceblue;
}



@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Get rid of all default margins/paddings. Set typeface */
.todo {
    
  background-color: transparent;
  font-family: "lato", sans-serif;
  color: transparent;
}


.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    height: 100vh;
}

.form {
    color: transparent; 
    width: 300px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    /* height: 500px; */
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.formUpdate {
  background-color: white;
  width: 800px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
  
.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
  
  /* Hide the placeholder texts (a) */
  
::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #a7a7a7;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}
  
  .submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
  }

  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: rgb(38, 0, 128);
  }

  .input:focus {
    border: 2px solid rgb(38, 0, 128);
  }

  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }